# Use Customer_Segmentation Notebook Template

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib created a temporary cache directory at /tmp/matplotlib-46dc4k36 because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [2]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [3]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
#snowflake.get_connection()

# To get snowflake connection object with a specific connection name
snowflake.get_connection(connection_name="FDC_Insurance_Snowflake")

Exception occurred in getting snowflake connection: 'connectionSources'

In [4]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("CUSTOMER_TRANSACTION_MASTER")

In [5]:
df.shape

(122882, 27)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122882 entries, 0 to 122881
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   CUSTOMER_ID                       122882 non-null  object
 1   DATE                              122882 non-null  object
 2   AGE                               122882 non-null  int8
 3   SEX                               122882 non-null  object
 4   EDUCATION_LEVEL                   122882 non-null  object
 5   EMPLOYMENT_STATUS                 122882 non-null  object
 6   HOBBIES                           122882 non-null  object
 7   MARITAL_STATUS                    122882 non-null  object
 8   DEPENDENTS                        122882 non-null  object
 9   REGISTRATION_DATE                 122882 non-null  object
 10  BANK_ACCOUNT_TYPE                 122882 non-null  object
 11  BALANCE                           122882 non-null  float64
 12  BALANCE_FREQUENCY                 122882 non-null  object
 13  CREDIT_LIMIT                      122882 non-null  float64
 14  CASH_ADVANCE                      122882 non-null  float64
 15  CASH_ADVANCE_FREQUENCY            122882 non-null  float64
 16  CASH_ADVANCE_TRX                  122882 non-null  float64
 17  PURCHASES                         122882 non-null  float64
 18  ONEOFF_PURCHASES                  122882 non-null  float64
 19  INSTALLMENTS_PURCHASES            122882 non-null  float64
 20  PURCHASES_FREQUENCY               122882 non-null  object
 21  ONEOFF_PURCHASES_FREQUENCY        122882 non-null  object
 22  PURCHASES_INSTALLMENTS_FREQUENCY  122882 non-null  object
 23  PURCHASES_TRX                     122882 non-null  float64
 24  PAYMENTS                          122882 non-null  float64
 25  MINIMUM_PAYMENTS                  122882 non-null  float64
 26  PRC_FULL_PAYMENT                  122882 non-null  float64
dtypes: float64(12), int8(1), object(14)
memory usage: 24.5+ MB

In [8]:
df.tail()

,CUSTOMER_ID,DATE,AGE,SEX,EDUCATION_LEVEL,EMPLOYMENT_STATUS,HOBBIES,MARITAL_STATUS,DEPENDENTS,REGISTRATION_DATE,...,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
122877,3a7ce3d5-0f4b-4575-badc-3553f5440c92,2023-05-01,32,MALE,High School,Unemployed,reading,Single,One Dependent,2020-03-12,...,684.4068,305.7313,339.07230,Very high,Low,Very high,21.20,273.352691,242.288921,0.0
122878,e2a8f308-57eb-4f55-bc13-399378f246d3,2022-12-01,27,MALE,PhD,Unemployed,camping,Single,One Dependent,2009-05-12,...,535.0963,0.0000,482.58685,Very high,Very low,Very high,25.92,474.722440,165.534652,0.0
122879,599c0e61-9bbc-4e14-bbfd-b07f5a398669,2022-12-01,33,FEMALE,High School,Unemployed,video-games,Single,One Dependent,2007-02-12,...,0.0000,0.0000,0.00000,Very low,Very low,Very low,0.00,568.542708,549.300475,0.0
122880,77298902-f899-4c3e-9104-06d1736fb089,2023-06-01,33,FEMALE,College,Unemployed,basketball,Single,One Dependent,2001-02-12,...,0.0000,0.0000,0.00000,Very low,Very low,Very low,0.00,517.588408,544.214360,0.0
122881,cd75294e-c31f-41b3-b78c-1d3e7322ddcf,2022-12-01,44,FEMALE,High School,Employed,exercise,Married,Two Dependents,2001-02-12,...,0.0000,0.0000,0.00000,Very low,Very low,Very low,0.00,1029.696570,1552.899035,0.0

In [7]:
cols = ['SEX','EDUCATION_LEVEL','EMPLOYMENT_STATUS','HOBBIES','MARITAL_STATUS','DEPENDENTS','PURCHASES_FREQUENCY','ONEOFF_PURCHASES_FREQUENCY','PURCHASES_INSTALLMENTS_FREQUENCY']