# Use CUST_SEGMT_Template Notebook template

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
table_name = 'CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT'

sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [5]:
df = session.table("CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT")

In [6]:
df = df.to_pandas()

In [3]:
df.tail()

,CUSTOMER_ID,DATE,AGE,SEX,EDUCATION_LEVEL,EMPLOYMENT_STATUS,HOBBIES,MARITAL_STATUS,DEPENDENTS,REGISTRATION_DATE,...,LOAN_PRODUCT,LOAN_TYPE,LOAN_INTERESTRATE,LOAN_MAX_AMOUNT,LOAN_TENURE,LOAN_EMI,LOAN_PROCESSINGFEES,LOAN_PREPAYMENTPENALTIES,LOAN_LATEPAYMENTFEES,LOAN_REPAYMENTPLAN
79995,PNC32234ef8-3e55-46f1-877d-c78f23169,2023-03-01,31,FEMALE,Undisclosed,Unemployed,Undisclosed,Single,One Dependent,2006-07-12,...,Cigna Health loan,Medical & Family,11.49,30000,60,667,1.0,2.0,35,Monthly
79996,PNC102b5bd3-d8c7-45f9-bfbf-970f10319,2024-05-01,25,MALE,Undisclosed,Unemployed,Undisclosed,Single,One Dependent,2020-04-12,...,Med Plus loan,Medical & Family,11.24,20000,48,519,1.0,1.5,35,Monthly
79997,PNC78002230-ebae-4707-891a-def541ad8,2022-09-01,27,MALE,Undisclosed,Unemployed,Undisclosed,Single,One Dependent,2013-04-12,...,Medlife loan,Medical & Family,9.49,10000,36,320,1.0,1.0,30,Monthly
79998,PNCfb3f6ecc-7809-455d-b0d0-e5a7bbe9e,2023-02-01,27,FEMALE,Undisclosed,Unemployed,Undisclosed,Single,One Dependent,2008-12-12,...,Upgrade Debt Consolidation,Credit Card Consolidation,10.39,10000,48,256,1.0,1.5,35,Monthly
79999,PNC12130040-800c-4dc7-befe-42e1c48f7,2023-01-01,24,FEMALE,Undisclosed,Unemployed,Undisclosed,Single,No Dependents,2012-09-12,...,24 by 7 Fast Cash,Cash Advance,16.99,2000,12,183,2.0,2.0,20,Monthly

In [4]:
df.shape

(80000, 50)

In [9]:
df.columns

Index(['CUSTOMER_ID', 'DATE', 'AGE', 'SEX', 'EDUCATION_LEVEL',
       'EMPLOYMENT_STATUS', 'HOBBIES', 'MARITAL_STATUS', 'DEPENDENTS',
       'REGISTRATION_DATE', 'BANK_ACCOUNT_TYPE', 'BALANCE',
       'BALANCE_FREQUENCY', 'CREDIT_LIMIT', 'CASH_ADVANCE',
       'CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_TRX', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'PURCHASES_FREQUENCY',
       'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY',
       'PURCHASES_TRX', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT',
       'CLUSTER', 'CLUSTER_TYPE', 'PREDICTION', 'REPORT_DATE', 'CLUSTER_ID'],
      dtype='object')

In [10]:
to_retain = ['CUSTOMER_ID', 'AGE', 'EMPLOYMENT_STATUS', 'HOBBIES', 'MARITAL_STATUS', 
       'BANK_ACCOUNT_TYPE', 'BALANCE','CREDIT_LIMIT', 'CASH_ADVANCE',
       'PURCHASES','INSTALLMENTS_PURCHASES','PAYMENTS', 'CLUSTER_TYPE']

In [11]:
new_df = df[to_retain]

In [12]:
new_df.shape

(80000, 13)

In [13]:
new_df.to_csv('/data/train_df.csv',index=False)

## Write Back CREDIT CARD RECOMMENDATION data ###

In [5]:
cc_df = pd.read_csv('/data/creditcards.csv')

In [6]:
cc_df.head()

,CARDID,CARDNAME,INTERESTRATE,CREDITLIMIT,ANNUALFEE,REWARDSPROGRAM,INTRODUCTORYAPR,FOREIGNTRANSACTIONFEE,LATEPAYMENTFEE,BALANCETRANSFERFEE,CASHADVANCEFEE,SECURITYDEPOSIT,CARDTYPE
0,1,Admin One SavorOne Cash Rewards Credit Card,15.49,6000,0,Bills and Utilities,0,0.0,39,3,10,0,Unsecured
1,2,Recover Cash bank card,13.99,6000,95,Bills and Utilities,0,2.7,39,5,5,0,Unsecured
2,3,City Double Cash Card,13.99,5000,0,Entertainment,0,3.0,39,5,10,0,Unsecured
3,4,Blue Cash Preferred Card from Express,11.99,5000,0,Entertainment,0,0.0,39,3,10,0,Unsecured
4,5,Customized Cash Rewards credit card,13.99,5000,0,Entertainment,0,3.0,39,3,10,0,Unsecured

In [7]:
upload_df = pd.read_csv('/data/train_df_latest.csv')

In [8]:
upload_df.columns

Index(['CUSTOMER_ID', 'AGE', 'EMPLOYMENT_STATUS', 'HOBBIES', 'MARITAL_STATUS',
       'BANK_ACCOUNT_TYPE', 'BALANCE', 'CREDIT_LIMIT', 'CASH_ADVANCE',
       'PURCHASES', 'INSTALLMENTS_PURCHASES', 'PAYMENTS', 'CLUSTER_TYPE',
       'HIGHEST_SPENT', 'CARD_ID', 'CARD_NAME', 'CARD_INTERESTFEE',
       'CARD_CREDITLIMIT', 'CARD_ANNUALFEE', 'CARD_LATEFEE', 'CARD_BALANCEFEE',
       'CARD_ADVANCEFEE'],
      dtype='object')

In [9]:
upload_df.head()

,CUSTOMER_ID,AGE,EMPLOYMENT_STATUS,HOBBIES,MARITAL_STATUS,BANK_ACCOUNT_TYPE,BALANCE,CREDIT_LIMIT,CASH_ADVANCE,PURCHASES,...,CLUSTER_TYPE,HIGHEST_SPENT,CARD_ID,CARD_NAME,CARD_INTERESTFEE,CARD_CREDITLIMIT,CARD_ANNUALFEE,CARD_LATEFEE,CARD_BALANCEFEE,CARD_ADVANCEFEE
0,PNC31d3482a-ba31-42c4-aa7a-27b9d35c3,66,Retired,Undisclosed,Widowed,Business,7492.531898,9025.0,3352.380760,1036.0382,...,Cash Advance Users,Cash Transactions,21,City Miscellaneous Card,14.99,7000,0,37,4,10
1,PNC28078b5c-7d7e-4d5d-852d-743557151,46,Unemployed,Undisclosed,Single,Business,136.920751,15345.0,43.695068,3115.6536,...,Active Credit Users,Health care,21,City Miscellaneous Card,14.99,7000,0,37,4,10
2,PNCea940b80-c329-4151-840a-25e1b1152,46,Unemployed,Undisclosed,Single,Business,154.035845,15015.0,43.220121,3589.7748,...,Active Credit Users,Travel,18,The Platinum Card from Express,0.00,0,695,0,0,0
3,PNC1031148a-9223-4144-bc99-2000bfdac,25,Unemployed,Undisclosed,Single,Checking,163.087413,6580.0,0.000000,468.5692,...,Conservative Spenders,Health care,21,City Miscellaneous Card,14.99,7000,0,37,4,10
4,PNC60f353b5-5c34-459f-8766-956fe378b,25,Unemployed,Undisclosed,Single,Checking,193.223130,7245.0,0.000000,468.5692,...,Conservative Spenders,Health care,21,City Miscellaneous Card,14.99,7000,0,37,4,10

In [12]:
df_train_sf=session.createDataFrame(
        upload_df.values.tolist(),
        schema=upload_df.columns.tolist())
df_train_sf.write.mode("overwrite").save_as_table("FDC_Insurance.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_CREDIT_CATEGORIZE")

In [13]:
cc_train_sf=session.createDataFrame(
        cc_df.values.tolist(),
        schema=cc_df.columns.tolist())
cc_train_sf.write.mode("overwrite").save_as_table("FDC_Insurance.INS_CUST_SEGMT_SCHEMA.CREDIT_CARD_DETAILS")

### JOIN CUSTOMER_DATA_INSIGHT_CREDIT_CATEGORIZE WITH CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT to Add newly added column

## ALTER table to add new columns
#### ALTER TABLE FDC_INSURANCE.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT
#### ADD COLUMN HIGHEST_SPENT VARCHAR(16777216),
####  CARD_NAME VARCHAR(16777216),
####  CARD_INTERESTFEE FLOAT,
####  CARD_CREDITLIMIT NUMBER(38,0),
####  CARD_ANNUALFEE NUMBER(38,0),
####  CARD_LATEFEE NUMBER(38,0),
####  CARD_BALANCEFEE NUMBER(38,0),
####  CARD_ADVANCEFEE NUMBER(38,0);

## Update newly added columns
#### UPDATE FDC_INSURANCE.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT A
#### SET A.HIGHEST_SPENT = B.HIGHEST_SPENT,
####  A.CARD_NAME = B.CARD_NAME,
####  A.CARD_INTERESTFEE = B.CARD_INTERESTFEE,
####  A.CARD_CREDITLIMIT = B.CARD_CREDITLIMIT,
####  A.CARD_ANNUALFEE = B.CARD_ANNUALFEE ,
####  A.CARD_LATEFEE = B.CARD_LATEFEE,
####  A.CARD_BALANCEFEE = B.CARD_BALANCEFEE,
####  A.CARD_ADVANCEFEE = B.CARD_ADVANCEFEE
#### FROM FDC_INSURANCE.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_CREDIT_CATEGORIZE B
#### WHERE A.CUSTOMER_ID = B.CUSTOMER_ID

## Write back LOAN RECOMMENDATION data ##

In [2]:
upload_df = pd.read_csv('/data/loan_cust_segmentation.csv')

In [3]:
upload_df.columns

Index(['CUSTOMER_ID', 'AGE', 'EMPLOYMENT_STATUS', 'HOBBIES', 'MARITAL_STATUS',
       'BANK_ACCOUNT_TYPE', 'BALANCE', 'CREDIT_LIMIT', 'CASH_ADVANCE',
       'PURCHASES', 'INSTALLMENTS_PURCHASES', 'PAYMENTS', 'CLUSTER_TYPE',
       'HIGHEST_SPENT', 'LOAN_ID', 'LOAN_PRODUCT', 'LOAN_TYPE',
       'LOAN_INTERESTRATE', 'MAX_LOAN_AMOUNT', 'LOAN_TENURE', 'LOAN_EMI',
       'LOAN_PROCESSINGFEES', 'LOAN_PREPAYMENTPENALTIES',
       'LOAN_LATEPAYMENTFEES', 'LOAN_REPAYMENTPLAN'],
      dtype='object')

In [4]:
upload_df.head()

,CUSTOMER_ID,AGE,EMPLOYMENT_STATUS,HOBBIES,MARITAL_STATUS,BANK_ACCOUNT_TYPE,BALANCE,CREDIT_LIMIT,CASH_ADVANCE,PURCHASES,...,LOAN_PRODUCT,LOAN_TYPE,LOAN_INTERESTRATE,MAX_LOAN_AMOUNT,LOAN_TENURE,LOAN_EMI,LOAN_PROCESSINGFEES,LOAN_PREPAYMENTPENALTIES,LOAN_LATEPAYMENTFEES,LOAN_REPAYMENTPLAN
0,PNC3432830b-ad47-4be8-a0c4-5b6419b7b,33,Unemployed,Undisclosed,Single,Checking,836.251870,5450.0,6435.124979,977.2564,...,24 by 7 Fast Cash,Cash Advance,16.99,2000,12,183,2.0,2.0,20,Monthly
1,PNC9cf528a4-83d5-473e-9f8b-d5087ba20,33,Unemployed,Undisclosed,Single,Checking,854.235781,5450.0,5608.595165,968.0370,...,Money Mutual,Cash Advance,15.00,1000,12,92,1.5,1.5,15,Monthly
2,PNCab7e7c16-91b8-4fbd-ac66-f0a0c8893,32,Employed,Undisclosed,Single,Checking,1062.057299,3180.0,2359.992955,0.0000,...,Cigna Health loan,Medical & Family,11.49,30000,60,667,1.0,2.0,35,Monthly
3,PNC91955e62-0f72-437f-9816-d41ca4222,32,Employed,Undisclosed,Single,Checking,1194.814462,2820.0,2800.870760,0.0000,...,Medlife loan,Medical & Family,9.49,10000,36,320,1.0,1.0,30,Monthly
4,PNC205a046e-1e05-42d1-8ce5-53a23291b,22,Unemployed,Undisclosed,Single,Savings,597.443650,1500.0,36.582227,0.0000,...,Cigna Health loan,Medical & Family,11.49,30000,60,667,1.0,2.0,35,Monthly

In [7]:
df_train_sf=session.createDataFrame(
        upload_df.values.tolist(),
        schema=upload_df.columns.tolist())
df_train_sf.write.mode("overwrite").save_as_table("FDC_Insurance.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_LOAN_CATEGORIZE")

### JOIN CUSTOMER_DATA_INSIGHT_LOAN_CATEGORIZE WITH CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT to Add newly added column

### Table Alteration to add new columns

#### ALTER TABLE FDC_INSURANCE.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT
####  ADD COLUMN LOAN_PRODUCT VARCHAR(16777216),
#### LOAN_TYPE VARCHAR(16777216),
#### LOAN_INTERESTRATE FLOAT,
#### LOAN_MAX_AMOUNT NUMBER(38,0),
#### LOAN_TENURE NUMBER(38,0),
#### LOAN_EMI NUMBER(38,0),
#### LOAN_PROCESSINGFEES FLOAT,
#### LOAN_PREPAYMENTPENALTIES FLOAT,
#### LOAN_LATEPAYMENTFEES NUMBER(38,0),
#### LOAN_REPAYMENTPLAN VARCHAR(16777216)

### Update newly added columns

#### UPDATE FDC_INSURANCE.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT A
####  SET A.LOAN_PRODUCT = B.LOAN_PRODUCT,
####   A.LOAN_TYPE = B.LOAN_TYPE,
####   A.LOAN_INTERESTRATE = B.LOAN_INTERESTRATE,
####   A.LOAN_MAX_AMOUNT = B.MAX_LOAN_AMOUNT,
####   A.LOAN_TENURE = B.LOAN_TENURE,
####   A.LOAN_EMI = B.LOAN_EMI,
####   A.LOAN_PROCESSINGFEES = B.LOAN_PROCESSINGFEES,
####   A.LOAN_PREPAYMENTPENALTIES = B.LOAN_PREPAYMENTPENALTIES,
####   A.LOAN_LATEPAYMENTFEES = B.LOAN_LATEPAYMENTFEES,
####   A.LOAN_REPAYMENTPLAN = B.LOAN_REPAYMENTPLAN
####  FROM FDC_INSURANCE.INS_CUST_SEGMT_SCHEMA.CUSTOMER_DATA_INSIGHT_LOAN_CATEGORIZE B
####  WHERE A.CUSTOMER_ID = B.CUSTOMER_ID